* {
  margin: 0;
  padding: 0;
}

/* 公共样式 */
.main {
  padding: 25px;
  font-size: 16px;

  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    margin-top: 20px;
  }

  h4 {
    margin-top: 20px;
  }

  .grid-content {
    text-align: left;
    margin-top: 20px;

    p {
      padding: 0 0 10px 7px;
    }

    span {
      font-weight: 600;
    }

    .none {
      visibility: hidden;
    }

    .el-select {
      width: 100%;

      .el-input__icon {
        line-height: 35px;
      }
    }

    .el-input {
      padding-bottom: 7px;
    }

    .el-input__inner {
      height: 35px;
      line-height: 35px;
    }

    .el-input.is-disabled .el-input__inner {
      color: #606266;
      background-color: #fff;
    }
  }

}

#home {
  p {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .rightBorder {
    p {
      border-right: 1px solid #000;
    }
  }

  .leftBorder {
    p {
      border-left: 0;
    }
  }
}