* {
  margin: 0;
  padding: 0;
}

/* 公共样式 */
.main {
  padding: 25px;
  font-size: 16px;

  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  h3 {
    margin-top: 20px;
  }

  h4 {
    margin-top: 20px;
  }

  .grid-content {
    text-align: left;
    margin-top: 20px;

    p {
      padding: 0 0 10px 7px;
    }

    span {
      font-weight: 600;
    }

    .none {
      visibility: hidden;
    }

    .el-form-item {
      margin: 0;

      .el-form-item__content {
        line-height: 0;

        .el-form-item__error {
          top: 60%;
          font-size: 14px;
        }
      }
    }

    .el-select {
      width: 100%;

      .el-input__icon {
        height: 35px;
        line-height: 35px;
      }
    }

    .el-input {
      padding-bottom: 20px;
    }

    .el-input__inner {
      height: 35px;
      line-height: 35px;
    }


  }

}

.button {
  position: absolute;
  top: 50px;
  right: 50px;
}

#home {
  padding: 30px;

  .langsen {
    text-align: left;
    line-height: 2;
  }

  p {
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .head {
    border: none;
  }

  .Calculation {
    border: 0;
  }

  .fl {
    width: 90%;
    margin: 0 auto;
  }

  .fr {
    float: right;
  }

  .border {
    border-top: 1px solid #333;
  }

  .rightBorder {
    p {
      border-right: 1px solid #000;
    }
  }

  .leftBorder {
    p {
      border-left: 0;
    }
  }
}