* {
  margin: 0;
  padding: 0;
}
/* 公共样式 */
.main {
  padding: 25px;
  font-size: 16px;
}
.main .title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.main h3 {
  margin-top: 20px;
}
.main h4 {
  margin-top: 20px;
}
.main .grid-content {
  text-align: left;
  margin-top: 20px;
}
.main .grid-content p {
  padding: 0 0 10px 7px;
}
.main .grid-content span {
  font-weight: 600;
}
.main .grid-content .none {
  visibility: hidden;
}
.main .grid-content .el-form-item {
  margin: 0;
}
.main .grid-content .el-form-item .el-form-item__content {
  line-height: 0;
}
.main .grid-content .el-form-item .el-form-item__content .el-form-item__error {
  top: 60%;
  font-size: 14px;
}
.main .grid-content .el-select {
  width: 100%;
}
.main .grid-content .el-select .el-input__icon {
  height: 35px;
  line-height: 35px;
}
.main .grid-content .el-input {
  padding-bottom: 20px;
}
.main .grid-content .el-input__inner {
  height: 35px;
  line-height: 35px;
}
.button {
  position: absolute;
  top: 50px;
  right: 50px;
}
#home {
  padding: 30px;
}
#home .langsen {
  text-align: left;
  line-height: 2;
}
#home p {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#home .head {
  border: none;
}
#home .Calculation {
  border: 0;
}
#home .fl {
  width: 90%;
  margin: 0 auto;
}
#home .fr {
  float: right;
}
#home .border {
  border-top: 1px solid #333;
}
#home .rightBorder p {
  border-right: 1px solid #000;
}
#home .leftBorder p {
  border-left: 0;
}
